block content
  if isAuthenticated    
    a(href='./upload-form') Upload Form
    br
    a(href='./intern-form') Intern Form
    br
    a(href='./past-composers') Past Composers
    br
  else
    a(href="/login")
      div Log in
    
  
