doctype html
html(lang='en')  
  head    
    meta(charset='utf-8')    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title The Flamekeeper | Metropolis Ensemble 
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap')
    link(rel='stylesheet' href='/stylesheets/style.css')        
    

    script.
      var __adobewebfontsappname__='dreamweaver'         
    script(src='https://sdk.amazonaws.com/js/aws-sdk-2.685.0.min.js')
    //- script(src='https://unpkg.com/wavesurfer.js')
    //- script(src='https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js')
    
  block content
    
          