extends layout

block content
  h1= title
  p Welcome to Flame Keeper

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p UPLOAD STUFF:
    form(method="POST" action="/upload" id="uploadForm" encType="multipart/form-data")
      input(type="file" name="theUpload")
      input(type="submit" form="uploadForm" value="Submit" onclick="window.loacation.href = ")

